{%- comment -%}theme-check-disable LiquidTag{%- endcomment -%}
{%- comment -%}
  Parameters:
  - product {Object} - Product object.
  - collection {Object} - Collection object (optional).
  - image_ratio {Number} - Aspect ratio for the image(s).
  - disable_quickbuy {Boolean} - Force disables quickbuy (even if enabled in settings)

  Usage:
  {% render 'product-card', product: product %}
{%- endcomment -%}

{%- liquid
  assign product_url = product.url | split: '?' | first
  assign product_images = product.media | where: 'media_type', 'image'
  assign show_hover_image = true
  if section.settings.card_show_hover_image and product_images.size > 1
    assign show_hover_image = true
  else
    assign show_hover_image = false
  endif

  if show_hover_image
    assign hover_image = product_images[product.featured_media.position] | default: product_images[0]
  endif

  assign image_ratio = image_ratio | default: 1
  assign image_quality = 1

  if product.featured_media
    capture sizes
      if section.settings.card_size == 'small'
        render 'sizes-attribute', grid: true, min: 2, sm: 3, md: 4, xl: 5
      elsif section.settings.card_size == 'large'
        render 'sizes-attribute', grid: true, min: 1, sm: 2, xl: 3
      else
        render 'sizes-attribute', grid: true, min: 1, sm: 3, md: 4
      endif
    endcapture

    assign class = 'img-fit card__main-image'
    if settings.prod_card_image_fit == 'contain'
      assign class = class | append: ' img-fit--contain'
    else
      assign class = class | append: ' rounded-[10px]' | append: settings.prod_card_image_align
    endif

    if product.featured_media.preview_image == product_images.last
      assign show_hover_image = false
    endif
  endif
-%}

<script src="{{ 'product-card.js' | asset_url }}" defer="defer"></script>

{%- if product and product != empty -%}
  <product-card class="card card--product{{ card_class }} h-full{% if settings.card_contain %} card--product-contained{% endif %}{% unless settings.show_dividers %} card--no-lines{% endunless %}{% if show_compare %} card--product-compare{% endif %} relative flex">
    {%- if settings.product_label_card_position != 'none' -%}
      {% render 'product-label',
        product: product,
        position: settings.product_label_card_position,
        is_product_card: true,
        limit: 2,
        custom_text: 'Best Seller'
      %}
    {%- endif -%}

    <figure class="img-container card__media{% if show_hover_image %} has-hover-image{% endif %} w-[42vw] h-[42vw] md:w-[18.5vw] md:h-[18.5vw]">
      <a
        href="{{ product_url }}"
        aria-label="{{ product.title | escape }}"
        class="media block js-prod-link rounded-[10px]"
        style="padding-top: 100%;"
        tabindex="-1"
      >
        {%- if product.featured_media -%}
          {%- capture attributes %}data-media-id="{{ product.featured_media.id }}"{% endcapture -%}
          {% render 'image',
            image: product.featured_media.preview_image,
            widths: '320, 460, 600, 700, 800, 900, 1200',
            src_width: 460,
            src_placeholder: true,
            sizes: sizes,
            class: class,
            attributes: attributes,
            disable_focal_point: true,
            quality: image_quality
          %}

          {%- if show_hover_image -%}
            {%- assign hover_class = class | replace: 'card__main-image', 'card__hover-image' -%}
            {% render 'image',
              image: hover_image,
              widths: '320, 460, 600, 700, 800, 900, 1200',
              src_width: 460,
              src_placeholder: true,
              sizes: sizes,
              class: hover_class,
              disable_focal_point: true,
              quality: image_quality
            %}
          {%- endif -%}
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'media__placeholder img-fit' }}
        {%- endif -%}
      </a>
    </figure>

    <section class="card__info-container flex flex-col flex-auto relative">
      <div class="card__info w-full">
        <div class="card__info-inner{% if settings.card_price_bottom %} flex flex-col h-full{% else %} inline-block{% endif %} mx-4">
          <h5 class="card__title font-bold{% if settings.show_dividers %} mb-1{% else %} mt-5 mb-0{% endif %}">
            <a
              href="{{ product_url }}"
              class="card-link js-prod-link font-[Bebas] text-[16px] md:text-[18px] tracking-[1px] text-[#1C1D1D]"
            >
              {{- product.title | escape -}}
            </a>
          </h5>

          {%- if section.settings.card_show_rating -%}
            <div>
              {% render 'rating', rating_value: 4.5, rating_count: 500 %}
            </div>
          {%- endif -%}

          {%- if section.settings.show_price -%}
            <div class="flex grow items-end">
              {%- render 'price', product: product, class: 'price--bottom' -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </section>
  </product-card>

{%- else -%}
  <div class="card">
    <figure class="card__media">
      <div class="media relative" style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;">
        {%- capture placeholder_name -%}product-{{ 'now' | date: '%N' | modulo: 6 | plus: 1 }}{%- endcapture -%}
        {{ placeholder_name | placeholder_svg_tag: 'media__placeholder img-fit' }}
      </div>
    </figure>
    <section class="card__info">
      <h2 class="card__title font-bold">{{ 'onboarding.product.title' | t }}</h2>
      <div class="card__price theme-money">
        {%- render 'price-as-money', price: 1234 -%}
      </div>
    </section>
  </div>
{%- endif -%}
