{%- if section.index > 2 -%}
  <link rel="stylesheet" href="{{ 'product-slider.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
{%- else -%}
  {{ 'product-slider.css' | asset_url | stylesheet_tag }}
  {{ 'product.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- liquid
  assign collection = section.settings.collection
  
  assign carousel_desktop_small = ' md:auto-cols-4 lg:auto-cols-4 xl:auto-cols-5 small-cards-desktop'
  assign carousel_desktop_medium = ' sm:auto-cols-3 xl:auto-cols-4'
  assign carousel_desktop_large = ' sm:auto-cols-2 lg:auto-cols-3'

  assign grid_desktop_small = ' md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 small-cards-desktop'
  assign grid_desktop_medium = ' sm:grid-cols-3 xl:grid-cols-4'
  assign grid_desktop_large = ' sm:grid-cols-2 lg:grid-cols-3'

  if section.settings.card_size_mobile == 'small'
    assign carousel_mobile_cols = 'grid-flow-col auto-cols-2 small-cards-mobile'
    assign grid_mobile_cols = 'grid-cols-2 small-cards-mobile'
    if section.settings.layout == 'carousel_on_mobile'
      assign carousel_mobile_cols = carousel_mobile_cols | append: ' sm:grid-cols-2'
    endif
  else
    assign carousel_mobile_cols = 'grid-flow-col auto-cols-1'
    assign grid_mobile_cols = 'grid-cols-1'
  endif

  if section.settings.layout == 'carousel'
    assign carousel = true
    if section.settings.card_size == 'small'
      assign grid_classes = carousel_mobile_cols | append: carousel_desktop_small
    elsif section.settings.card_size == 'medium'
      assign grid_classes = carousel_mobile_cols | append: carousel_desktop_medium
    else
      assign grid_classes = carousel_mobile_cols | append: carousel_desktop_large
    endif
  elsif section.settings.layout == 'grid'
    assign carousel = false
    if section.settings.card_size == 'small'
      assign grid_classes = grid_mobile_cols | append: grid_desktop_small
    elsif section.settings.card_size == 'medium'
      assign grid_classes = grid_mobile_cols | append: grid_desktop_medium
    else
      assign grid_classes = grid_mobile_cols | append: grid_desktop_large
    endif
  endif

  if settings.prod_card_image_ratio == 'shortest'
    assign image_ratio = 0
    for product in collection.products limit: section.settings.products_to_show
      if product.featured_media.preview_image.aspect_ratio > image_ratio
        assign image_ratio = product.featured_media.preview_image.aspect_ratio
      endif
    endfor
  elsif settings.prod_card_image_ratio == 'tallest'
    assign image_ratio = 99
    for product in collection.products limit: section.settings.products_to_show
      if product.featured_media.preview_image.aspect_ratio < image_ratio
        assign image_ratio = product.featured_media.preview_image.aspect_ratio
      endif
    endfor
  else
    assign image_ratio = settings.prod_card_image_ratio
  endif

  assign bg_color = false

  assign bg_color = settings.bg_color

  if bg_color == settings.bg_color or bg_color == 'rgba(0,0,0,0)'
    assign bg_color = false
  endif
-%}

{% if carousel %}
  <script src="{{ 'carousel-slider.js' | asset_url }}" defer="defer"></script>
{% endif %}

<div class="ml-[7.1%] ">
  {%- if section.settings.title != blank or section.settings.show_view_all -%}
    <div class="relative">
      <div
        class="section__header items-center mb-18 flex{% if section.settings.heading_align == 'text-center' %} flex-col text-center{% elsif section.settings.heading_align == 'text-end' %} flex-row-reverse flex-wrap{% else %} flex-row flex-wrap{% endif %} gap-x-theme mr-[8%]"
        {% if settings.animations_enabled != 'disabled' %}
          data-cc-animate
        {% endif %}
      >
        {%- if section.settings.title != blank -%}
          <h2 class="mb-0 flex-auto section__heading text-center md:text-start md:{{ section.settings.heading_align }} text-[40px]">
            {{- section.settings.title | escape -}}
          </h2>
        {%- endif -%}

        {%- if section.settings.show_view_all -%}
          <a
            href="{{ collection.url }}"
            class="text-[14px] text-[#5C553A] font-[Poppins] flex gap-[10px] hidden md:flex"
          >
            {{- 'sections.featured_collection.view_all' | t }}
            {% render 'icon-arrow' -%}
          </a>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  {%- if carousel -%}
    <carousel-slider
      class="carousel block{% if section.settings.show_promo_info %} grow{% endif %}"
      inactive
      {% if section.settings.layout == 'carousel_on_mobile' %}
        disable-desktop="true"
      {% endif %}
    >
      <div class="{% unless section.settings.show_promo_info %} relative{% endunless %} featured-collection-products">
        <div class="slider" id="slider-{{ section.id }}">
  {%- endif -%}

  <div class="products-grid-container shrink-0">
    <ul
      class="{% if carousel %}slider__grid {% endif %} flex {{ grid_classes }} flex-wrap md:flex-nowrap"
      role="list"
    >
      {%- for product in collection.products limit: section.settings.products_to_show -%}
        <li
          {% if carousel %}
            class="slider__item w-[40vw] md:w-[18.5vw]"
          {% endif -%}
          {% if settings.animations_enabled != 'disabled' %}
            data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"
          {% endif %}
        >
          {% render 'product-card', product: product, collection: collection, image_ratio: image_ratio %}
        </li>
      {%- else -%}
        {%- for i in (1..section.settings.products_to_show) -%}
          <li
            {% if carousel %}
              class="slider__item"
            {% endif -%}
            {% if settings.animations_enabled != 'disabled' %}
              data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"
            {% endif %}
          >
            {% render 'product-card', product: product, image_ratio: image_ratio %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>
    <div class="scrollbar hidden md:block">
      <div class="thumb"></div>
    </div>
  </div>

  {%- if carousel -%}
    </carousel-slider>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Featured collection",
  "tag": "section",
  "class": "cc-featured-collection",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Best Sellers"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-start"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show \"View all\" link",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "carousel",
          "label": "Carousel"
        },
        {
          "value": "carousel_on_mobile",
          "label": "Carousel on mobile"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "select",
      "id": "card_size_mobile",
      "label": "Product card size on mobile",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "card_size",
      "label": "Product card size on large screens",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "checkbox",
      "id": "card_show_hover_image",
      "label": "Show hover image",
      "default": true
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Maximum products to show",
      "min": 4,
      "max": 24,
      "step": 1,
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "card_show_rating",
      "label": "Show rating",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Product slider"
    }
  ],
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "footer", "aside"]
  }
}
{% endschema %}
