{%- if section.index > 2 -%}
  <link rel="stylesheet" href="{{ 'product-slider.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
{%- else -%}
  {{ 'product-slider.css' | asset_url | stylesheet_tag }}
  {{ 'product.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- liquid
  assign collection = section.settings.collection
  if section.settings.layout == 'carousel'
    assign carousel = true
  elsif section.settings.layout == 'grid'
    assign carousel = false
  endif
-%}

{% if carousel %}
  <script src="{{ 'carousel-slider.js' | asset_url }}" defer="defer"></script>
{% endif %}

<section class="ml-[7.1%] mr-[7.1%] md:mr-[0px]">
  {%- if section.settings.title != blank or section.settings.show_view_all -%}
    <header class="relative">
      <div
        class="
          section__header items-center mb-9 md:mb-18 flex
          {% if section.settings.heading_align == 'text-center' %} flex-col text-center
          {% elsif section.settings.heading_align == 'text-end' %} flex-row-reverse flex-wrap
          {% else %} flex-row flex-wrap {% endif %}
          gap-x-theme md:mr-[8%]
        "
        {% if settings.animations_enabled != 'disabled' %}
          data-cc-animate
        {% endif %}
      >
        {%- if section.settings.title != blank -%}
          <h2 class="mb-0 flex-auto section__heading text-center md:text-start md:{{ section.settings.heading_align }} text-[40px]">
            {{- section.settings.title | escape -}}
          </h2>
        {%- endif -%}

        {%- if section.settings.show_view_all -%}
          <a
            href="{{ collection.url }}"
            class="text-[14px] text-[#5C553A] font-[Poppins] flex gap-[10px] hidden md:flex"
            aria-label="{{ 'sections.featured_collection.view_all' | t }}"
          >
            {{- 'sections.featured_collection.view_all' | t }}
            {% render 'icon-arrow' -%}
          </a>
        {%- endif -%}
      </div>
    </header>
  {%- endif -%}

  {%- if carousel -%}
    <carousel-slider
      class="carousel block md:mr-[0px]"
      inactive
      {% if section.settings.layout == 'carousel_on_mobile' %}
        disable-desktop="true"
      {% endif %}
    >
      <div class="relative featured-collection-products">
        <div class="slider" id="slider-{{ section.id }}">
  {%- endif -%}

  <div class="products-grid-container shrink-0">
    <ul
      class="{% if carousel %}slider__grid {% endif %} flex justify-between flex-wrap md:flex-nowrap gap-y-[12px] pb-[12px] md:pb-[52px] md:gap-[24px]"
      role="list"
    >
      {%- for product in collection.products -%}
        <li
          class="{% if carousel %}slider__item w-[42vw] md:w-[18.5vw]{% endif %}"
          {% if settings.animations_enabled != 'disabled' %}
            data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"
          {% endif %}
        >
          {% render 'product-card', product: product, collection: collection %}
        </li>
      {%- else -%}
        {%- for i in (1..section.settings.products_to_show) -%}
          <li
            class="{% if carousel %}slider__item{% endif %}"
            {% if settings.animations_enabled != 'disabled' %}
              data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"
            {% endif %}
          >
            {% render 'product-card', product: product %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>

    <div class="scrollbar hidden md:block">
      <div class="thumb"></div>
    </div>

    <button
      class="bg-[#1C1D1D] text-white rounded-[100px] px-[24px] py-[16px] m-auto w-full md:hidden show-more"
      aria-label="Show more products"
    >
      Show more
    </button>
  </div>

  {%- if carousel -%}
    </div>
    </carousel-slider>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Featured collection",
  "tag": "section",
  "class": "cc-featured-collection",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Best Sellers"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-start"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show \"View all\" link",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "carousel",
          "label": "Carousel"
        },
        {
          "value": "carousel_on_mobile",
          "label": "Carousel on mobile"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "select",
      "id": "card_size_mobile",
      "label": "Product card size on mobile",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "card_size",
      "label": "Product card size on large screens",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "checkbox",
      "id": "card_show_hover_image",
      "label": "Show hover image",
      "default": true
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Maximum products to show",
      "min": 4,
      "max": 24,
      "step": 1,
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "card_show_rating",
      "label": "Show rating",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Product slider"
    }
  ],
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "footer", "aside"]
  }
}
{% endschema %}
