{%- if section.index > 2 -%}
  <link rel="stylesheet" href="{{ 'product-slider.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
{%- else -%}
  {{ 'product-slider.css' | asset_url | stylesheet_tag }}
  {{ 'product.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- liquid
  assign collection = section.settings.collection

  assign carousel_desktop_small_promo = ' sm:auto-cols-3 md:auto-cols-3 lg:auto-cols-3 xl:auto-cols-4 small-cards-desktop'
  assign carousel_desktop_medium_promo = ' sm:auto-cols-2 lg:auto-cols-3'
  assign carousel_desktop_large_promo = ' sm:auto-cols-2'
  assign carousel_desktop_small = ' md:auto-cols-4 lg:auto-cols-4 xl:auto-cols-5 small-cards-desktop'
  assign carousel_desktop_medium = ' sm:auto-cols-3 xl:auto-cols-4'
  assign carousel_desktop_large = ' sm:auto-cols-2 lg:auto-cols-3'

  assign grid_desktop_small_promo = ' sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 small-cards-desktop'
  assign grid_desktop_medium_promo = ' md:grid-cols-2 lg:grid-cols-3'
  assign grid_desktop_large_promo = ' sm:grid-cols-2'
  assign grid_desktop_small = ' md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 small-cards-desktop'
  assign grid_desktop_medium = ' sm:grid-cols-3 xl:grid-cols-4'
  assign grid_desktop_large = ' sm:grid-cols-2 lg:grid-cols-3'

  if section.settings.card_size_mobile == 'small'
    assign carousel_mobile_cols = 'grid-flow-col auto-cols-2 small-cards-mobile'
    assign grid_mobile_cols = 'grid-cols-2 small-cards-mobile'
    if section.settings.layout == 'carousel_on_mobile'
      assign carousel_mobile_cols = carousel_mobile_cols | append: ' sm:grid-cols-2'
    endif
  else
    assign carousel_mobile_cols = 'grid-flow-col auto-cols-1'
    assign grid_mobile_cols = 'grid-cols-1'
  endif

  if section.settings.layout == 'carousel'
    assign carousel = true

    if section.settings.show_promo_info
      if section.settings.card_size == 'small'
        assign grid_classes = carousel_mobile_cols | append: carousel_desktop_small_promo
      elsif section.settings.card_size == 'medium'
        assign grid_classes = carousel_mobile_cols | append: carousel_desktop_medium_promo
      else
        assign grid_classes = carousel_mobile_cols | append: carousel_desktop_large_promo
      endif
    else
      if section.settings.card_size == 'small'
        assign grid_classes = carousel_mobile_cols | append: carousel_desktop_small
      elsif section.settings.card_size == 'medium'
        assign grid_classes = carousel_mobile_cols | append: carousel_desktop_medium
      else
        assign grid_classes = carousel_mobile_cols | append: carousel_desktop_large
      endif
    endif
  elsif section.settings.layout == 'carousel_on_mobile'
    assign carousel = true

    if section.settings.show_promo_info
      if section.settings.card_size == 'small'
        assign grid_classes = carousel_mobile_cols | append: grid_desktop_small_promo
      elsif section.settings.card_size == 'medium'
        assign grid_classes = carousel_mobile_cols | append: grid_desktop_medium_promo
      else
        assign grid_classes = carousel_mobile_cols | append: grid_desktop_large_promo
      endif
    else
      if section.settings.card_size == 'small'
        assign grid_classes = carousel_mobile_cols | append: grid_desktop_small
      elsif section.settings.card_size == 'medium'
        assign grid_classes = carousel_mobile_cols | append: grid_desktop_medium
      else
        assign grid_classes = carousel_mobile_cols | append: grid_desktop_large
      endif
    endif
  elsif section.settings.layout == 'grid'
    assign carousel = false

    if section.settings.show_promo_info
      if section.settings.card_size == 'small'
        assign grid_classes = grid_mobile_cols | append: grid_desktop_small_promo
      elsif section.settings.card_size == 'medium'
        assign grid_classes = grid_mobile_cols | append: grid_desktop_medium_promo
      else
        assign grid_classes = grid_mobile_cols | append: grid_desktop_large_promo
      endif
    else
      if section.settings.card_size == 'small'
        assign grid_classes = grid_mobile_cols | append: grid_desktop_small
      elsif section.settings.card_size == 'medium'
        assign grid_classes = grid_mobile_cols | append: grid_desktop_medium
      else
        assign grid_classes = grid_mobile_cols | append: grid_desktop_large
      endif
    endif
  endif

  if settings.prod_card_image_ratio == 'shortest'
    assign image_ratio = 0
    for product in collection.products limit: section.settings.products_to_show
      if product.featured_media.preview_image.aspect_ratio > image_ratio
        assign image_ratio = product.featured_media.preview_image.aspect_ratio
      endif
    endfor
  elsif settings.prod_card_image_ratio == 'tallest'
    assign image_ratio = 99
    for product in collection.products limit: section.settings.products_to_show
      if product.featured_media.preview_image.aspect_ratio < image_ratio
        assign image_ratio = product.featured_media.preview_image.aspect_ratio
      endif
    endfor
  else
    assign image_ratio = settings.prod_card_image_ratio
  endif

  assign color_scheme = section.settings.color_scheme
  assign bg_color = false

  if color_scheme == 'default'
    assign bg_color = settings.bg_color
  elsif color_scheme == '1'
    assign bg_color = settings.color_scheme_1_bg_grad | default: settings.color_scheme_1_bg
  elsif color_scheme == '2'
    assign bg_color = settings.color_scheme_2_bg_grad | default: settings.color_scheme_2_bg
  elsif color_scheme == '3'
    assign bg_color = settings.color_scheme_3_bg_grad | default: settings.color_scheme_3_bg
  endif

  if bg_color == settings.bg_color or bg_color == 'rgba(0,0,0,0)'
    assign bg_color = false
  endif
-%}

{% if carousel %}
  <script src="{{ 'carousel-slider.js' | asset_url }}" defer="defer"></script>
{% endif %}

<div class="section">
  {%- if section.settings.title != blank or section.settings.show_view_all -%}
    <div class="relative">
      <div
        class="section__header items-center flex{% if section.settings.heading_align == 'text-center' %} flex-col text-center{% elsif section.settings.heading_align == 'text-end' %} flex-row-reverse flex-wrap{% else %} flex-row flex-wrap{% endif %} gap-x-theme"
        {% if settings.animations_enabled != 'disabled' %}
          data-cc-animate
        {% endif %}
      >
        {%- if section.settings.title != blank -%}
          <h2 class="h4 mb-0 flex-auto section__heading {{ section.settings.heading_align }}">
            {{- section.settings.title | escape -}}
          </h2>
        {%- endif -%}

        {%- if section.settings.show_view_all -%}
          <a href="{{ collection.url }}" class="link">{{ 'sections.featured_collection.view_all' | t }}</a>
        {%- endif -%}

        <div class="mobile-slider-nav">
          <div class="slider-left">
            <button
              type="button"
              class="slider-nav__btn tap-target btn mobile-slider__btn {{ settings.slider_button_style }} has-ltr-icon"
              name="prev-mobile"
              aria-controls="slider-{{ section.id }}"
            >
              <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
              {% render 'icon-chevron-left-mini' %}
            </button>
          </div>
          <div class="slider-right">
            <button
              type="button"
              class="slider-nav__btn tap-target btn mobile-slider__btn {{ settings.slider_button_style }} has-ltr-icon"
              name="next-mobile"
              aria-controls="slider-{{ section.id }}"
            >
              <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
              {% render 'icon-chevron-right-mini' %}
            </button>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

  {%- if carousel -%}
    <carousel-slider
      class="carousel block{% if section.settings.show_promo_info %} grow{% endif %}"
      inactive
      {% if section.settings.layout == 'carousel_on_mobile' %}
        disable-desktop="true"
      {% endif %}
    >
      <div class="{% unless section.settings.show_promo_info %} relative{% endunless %} featured-collection-products">
        <div class="slider" id="slider-{{ section.id }}">
  {%- endif -%}

  <div class="products-grid-container shrink-0">
    <ul
      class="{% if carousel %}slider__grid {% endif %}grid {{ grid_classes }}{% if section.settings.layout == 'carousel_on_mobile' and section.settings.card_size_mobile == 'small' and settings.card_contain %} sm:gap-x-theme sm:gap-y-8{% else %} gap-x-theme gap-y-8{% endif %}{% if section.settings.card_size_mobile == 'small' and settings.card_contain %} small__grid{% endif %}"
      role="list"
    >
      {%- for product in collection.products limit: section.settings.products_to_show -%}
        <li
          {% if carousel %}
            class="slider__item"
          {% endif -%}
          {% if settings.animations_enabled != 'disabled' %}
            data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"
          {% endif %}
        >
          {% render 'product-card', product: product, collection: collection, image_ratio: image_ratio %}
        </li>
      {%- else -%}
        {%- for i in (1..section.settings.products_to_show) -%}
          <li
            {% if carousel %}
              class="slider__item"
            {% endif -%}
            {% if settings.animations_enabled != 'disabled' %}
              data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"
            {% endif %}
          >
            {% render 'product-card', product: product, image_ratio: image_ratio %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>
  </div>

  {%- if carousel -%}
    </div>

    {%- if settings.slider_show_arrows != 'never' -%}
      <div class="slider-nav slider-right absolute top-middle end {% if settings.slider_show_arrows == 'hover' %}slider-nav--show-on-hover no-hover-hidden {% endif %}hidden md:block no-js-hidden">
        <button
          type="button"
          class="slider-nav__btn tap-target btn {{ settings.slider_button_style }} has-ltr-icon"
          name="next"
          aria-controls="slider-{{ section.id }}"
        >
          <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
          {% render 'icon-chevron-right' %}
        </button>
      </div>
      <div class="slider-nav slider-left absolute top-middle end {% if settings.slider_show_arrows == 'hover' %}slider-nav--show-on-hover no-hover-hidden {% endif %}hidden md:block no-js-hidden">
        <button
          type="button"
          class="slider-nav__btn tap-target btn {{ settings.slider_button_style }} has-ltr-icon"
          name="prev"
          aria-controls="slider-{{ section.id }}"
        >
          <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
          {% render 'icon-chevron-left' %}
        </button>
      </div>
    {%- endif -%}
    </div>
    </carousel-slider>
  {%- endif -%}
  {%- if section.settings.show_promo_info -%}
    </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Featured collection",
  "tag": "section",
  "class": "cc-featured-collection",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-start"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show \"View all\" link",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "carousel",
          "label": "Carousel"
        },
        {
          "value": "carousel_on_mobile",
          "label": "Carousel on mobile"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "select",
      "id": "card_size_mobile",
      "label": "Product card size on mobile",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "card_size",
      "label": "Product card size on large screens",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Maximum products to show",
      "min": 4,
      "max": 24,
      "step": 1,
      "default": 8
    }
  ],
  "presets": [
    {
      "name": "Product slider"
    }
  ],
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "footer", "aside"]
  }
}
{% endschema %}
